body, html {
    margin: 0;
    padding: 0 10px; 
    font-family: Arial, sans-serif;
    background-color: white;
    color: #333;
}


header {
    padding: 0; 
    margin: 0 -20px; 
    width: calc(100% + 40px); 
}

h1, h2 {
    padding: 0.5em 10px; 
}

h1 {
    color: white;
    font-size: 2em;
    text-align: center;
}

strong {
    color: #B32216;
}

h2 {
    color: #B32216;
    font-size: 1.5em;
    border-bottom: 2px solid #ccc;
    margin-bottom: 0.75em;
}

p {
    font-size: 1em;
    margin: 1em 10px; 
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #B32216;
    color: white;
    padding: 10px;
}

.header-logo {
    height: 50px;
    width: auto;
}

.data-container {
    display: flex;
    justify-content: space-around; 
    align-items: flex-start; 
    width: 90%;
    max-width: 1200px; 
    margin: 20px auto; 
    flex-wrap: wrap;
}

#data-inside, #data-outside {
    background-color: #B32216;
    color: white;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 45%; 
    margin: 10px 0;
}


table {
    width: 90%; 
    margin: 20px auto; 
    border-collapse: collapse;
    background-color: white;
    color: #B01F09;
    border: 2px solid gray;
}

th, td {
    text-align: center;
    padding: 8px;
    border: 1px solid gray;
}

thead {
    background-color: #B32216;
    color: white;
}

tbody tr:nth-child(odd) {
    background-color: #fff0f0;
}

footer {
    background-color: #B32216; 
    color: white; 
    text-align: center;
    padding: 10px 0; 
    margin: 0 -20px; 
    width: calc(100% + 40px);
    font-size: 0.8em; 
    box-shadow: 0 -4px 8px rgba(0,0,0,0.1); 
}
footer a {
    color: white; 
    text-decoration: underline; 
    transition: color 0.3s; 
}

footer a:hover, footer a:focus {
    color: #ffcccb; 
    text-decoration: underline; 
}

footer a:active {
    color: #ffa3a2; 
}


@media (max-width: 600px) {
    h1, h2 {
        font-size: 1.5em; 
    }

    p, th, td {
        font-size: 0.9em; 
    }

    .header-content {
        flex-direction: column;
        text-align: center;
    }

    #data-inside, #data-outside, table {
        font-size: 11px;
        width: 98%; 
    }
}
